<style type="text/css">
.jumbotron-wrap{
  background-image: url('/images/campaigns/20140910-6-to-go.jpg');
  background-position: center;
  height: 600px;
  background-color: #25282d;
  position: relative;
}

  .jumbotron .col-md-7 > .ir{
    display:block;
    width:100%;
    height:500px;
  }
  .jumbotron-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

@media screen and (min-width: 992px) {
  .jumbotron h2,
  .jumbotron p{
    color:rgba(255,255,255,0.7);
  }
  .jumbotron hr{
    border-color:rgba(255,255,255,0.7);
  }
  .jumbotron .form-control{
    box-shadow:none;
  }
  .jumbotron .jumbotron-content{
    margin-top:20px;
  }
  .jumbotron-wrap{
    padding-top: 0;
    margin-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  .jumbotron-wrap{
    background-image: url('/images/campaigns/20140910-6-to-go-small.jpg');
  }
  .jumbotron > .container{
    background: rgba(255,255,255,0.8);
  }
  .jumbotron-wrap{
    height: auto;
  }
  .jumbotron .col-md-7  > .ir{
    display: none;
  }
}
</style>
<div class="jumbotron-wrap">
  <section class="jumbotron">
    <div class="container">
      <div class="col-md-7">
        <a href="/factsheet/" title="Candidates Factsheet" class="ir">&nbsp;</a>
      </div>
      <div class="jumbotron-content col-md-5">
        <hr />
        <h2>The Race is On.</h2>
        <p>Help us reduce the influence of money in politics and elect a Congress committed to fundamental reform by 2016.</p>
        <h5>Join the movement: </h5>
        <form action="https://pledge.mayday.us/r/subscribe" role="form" method="post" accept-charset="utf-8">
          <input type="hidden" name="redirect" value="http://shpg.org/220/9220" />
          <input type="hidden" name="source" value="brownlobbyist" />
          <div class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control">
          </div>
          <button type="submit" class="btn">Join Now</button>
        </form>
        <hr />
      </div>
    </div>
  </section>

  <div class="jumbotron-bottom">
    <hr/>
    <div class="container" style="padding-top:0;padding-bottom:0"></div>
    <hr/>
  </div>
</div>
