<style type="text/css">
.jumbotron-wrap{
  background-image: url('/images/hero/20140922_maydayin30_v6.jpg');
  background-position: center;
  background-color: #25282d;
  position: relative;
}
  .jumbotron-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .jumbotron .col-md-8 > .ir{
    display:block;
    width:100%;
    min-height: 290px
  }
  .jumbotron h2,
  .jumbotron p{
    color:#232a50;
  }
    .jumbotron hr{
    border-color:#232a50;;
  }
  .jumbotron p{
    text-shadow: 0 0 3px #fff;
  }

  .jumbotron .form-control[type="email"]{
    width:50%;
  }


@media screen and (min-width: 1170px) {
  .jumbotron > .container{
    padding-top:35px;
    padding-bottom:35px;
  }
}

@media screen and (min-width: 992px) {
  .jumbotron .col-md-4{
    background: rgba(255,255,255,0.9);
  }

  .jumbotron .form-control{
    box-shadow:none;
  }
  .jumbotron-wrap{
    margin-top: 10px;
  }
}
@media screen and (max-width: 991px) {
  .jumbotron-wrap{
    background-image: url('/images/hero/20140922_maydayin30_v2_small.jpg');
  }
  .jumbotron > .container{
    background: rgba(255,255,255,0.9);
    margin-top: 50px;
  }
  .jumbotron-wrap{
    padding-top: 30px;
  }
  .jumbotron .col-md-8 > .ir{
    display: none;
  }
}
</style>
<div class="jumbotron-wrap">
  <section class="jumbotron">
    <div class="container">
     <div class="col-md-8">
        <a href="https://mayday.us/campaigns/maydayin30/" title="Mayday in 30" class="ir">&nbsp;</a>
      </div>
      <div class="jumbotron-content col-md-4">
        <hr />
        <h2>Enter The Contest!</h2>
        <!-- <h5>Enter Now: </h5> -->
        <p>Make a 30-second video ad about money in politics #MAYDAYin30</p>
        <!-- <form action="https://pledge.mayday.us/r/subscribe" role="form" method="post" accept-charset="utf-8">
          <input type="hidden" name="redirect" value="https://mayday.us/campaigns/maydayin30/" />
          <input type="hidden" name="source" value="" />
          <div class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control" required />
          </div>
        </form> -->
        <a href="https://mayday.us/campaigns/maydayin30/" class="btn">Enter Now</a>
        <hr />
      </div>
    </div>
  </section>

  <div class="jumbotron-bottom">
    <hr/>
    <div class="container" style="padding-top:0;padding-bottom:0">
    </div>
    <hr/>
  </div>
</div>