<style type="text/css" media="screen">
  .jumbotron .jumbotron-content{
    width:40%;
    float:right;
  }
</style>

<div class="jumbotron-wrap" style="background: transparent url('/images/campaigns/20140908-scott-brown-small.jpg') no-repeat center center;">

  <section class="jumbotron">
    <div class="container">
      <div class="jumbotron-content">
        <hr />
        <h2>Scott Brown is a Lobbyist.</h2>
        <p>Lawrence Lessig, co-founder of Mayday.US, has called out Scott Brown for being "lobbyist." But Scott Brown calls Lessig a "liar," because he wasnt "registered." Join us in demanding a debate!</p>
        <h5><a href="https://mayday.us/campaigns/of-course-brown-is-a-lobbyist/" class="text-red">Sign the petition calling for a debate!</a></h5>
        <form action="https://pledge.mayday.us/r/subscribe" role="form" method="post" accept-charset="utf-8">
          <input type="hidden" name="redirect" value="http://shpg.org/220/9220" />
          <input type="hidden" name="source" value="brownlobbyist" />
          <div class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control">
          </div>
          <button type="submit" class="btn">Sign Now</button>
        </form>
        <hr />
      </div>
    </div>
  </section>

  <div class="jumbotron-bottom">
    <hr/>
    <div class="container" style="padding-top:0;padding-bottom:0">
      <!-- <div class="row">
        <div class="col-md-3">
          <h4>
            <span class="count" id="js-count">4,000</span>
            <span class="text">Calls to go!</span>
          </h4>
        </div>
        <div class="col-md-1">
          <span class="ir star-image">&nbsp;</span>
        </div>
        <div class="col-md-8 progress-wrap">
          <div class="col-md-9">
            <div class="progress-indicator">
              <span class="progress-bar-count" style="display:none">
                <span id="js-voters-called-wrap"><span id="js-voters-called">2</span> voters called!</span>
              </span>
            </div>
          </div>
          <div class="col-md-3">
            <h5><span class="text-red">5,000</span> Goal</h5>
          </div>
        </div>
      </div> -->
    </div>
    <hr/>
  </div>
</div>
