#calltoolembed {
  width: 260px;
  height: 260px;
}

#calltoolembed .c2a {
  background-color: #cc3333;
  border: 0;
  border-radius: 0;
  margin: 1px 0 0;
  position: relative;
  padding-left: 18px;
  padding-right: 22px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);  
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 20px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#calltoolembed .c2a:hover {
  text-decoration: underline;
}

#calltoolembed .slogan {
  font-family: 'Merriweather', georgia, serif;
  font-weight: 700;
  font-size: 120%;
  color: #000000;
  line-height: 140%;
  margin-bottom: 40px;
}
