---
layout: newpledge
title: MAYDAY.US - A Crowdfunded, Kickstarted SuperPAC to end all SuperPACs
omit_title_suffix: true
cssid: newpledge
disable-pledge-sidebar: true
---

       <div id="pledgeTopBar">
               <h3>MAYDAY<span>.US</span></h3>
       </div>
       <div class="jumbotron">
         <div id="pledgeBox">
               <div class="info">
                       <h2>Jim Rubens, NH Senate, Republican Primary, Independent Campaign Fund</h2>
                       <p>Donations from this page will be used <em>specifically</em> for our independent campaign to support Jim Rubens in New Hampshire's Republican Primary for the U.S. Senate. <a href="/newpledge">Click here to make a donation to the general MAYDAY PAC fund instead.</a></p>
               </div>

         {% include pledgeform-candidate-rubens.html %}

         </div>
         <div id="mainrules" class="well rules">
             {% include pledge-rules.html %}
         </div>

       </div>

      

    {% include footer.html %}

