---
layout: landing-newpledge
title: MayDay.us - Your Donations
omit_title_suffix: true
cssid: graph
og_image: https://mayday.us/images/mayday-genericshare.jpg
og_title: Your Donations
og_description: Join the kickstarted campaign to put government back in the hands of the people. Pledge MAYDAY.US now.
noIndex: true
pledgeTitle: Your Donations
---


{% capture subhead %}

A citizen-funded super PAC, to end all super PACs.

{% endcapture %}

{% capture pageid %}
Your Donations
{% endcapture %}

{% capture content %}

{% include histogram_v2.html %}

{% endcapture %}

{% include pledgeSubpage-fullpage.html %}
