{% include header.html %}
<!--Container for Head-->
<link rel="stylesheet" type="text/css" href="/css/candidate.css">
<div style="margin-top:20px;" class="rally full-width">

  <div class="container">
    <div class="row">


      <div class="candidate-bio col-md-4">
        <img style="width:100%;" src="{{ page.image }}">

        <div class="col-md-12">
          {{ bioblurb | markdownify }}

          <hr />
          <h4>{{ page.candidatename }} Links</h4>
          <ul>
            <li><a href="{{ page.officialpage }}">Official website</a></li>
            <li><a href="{{ page.officialtwitter }}" title="Twitter">Twitter</a></li>
            <li><a href="{{ page.officialfacebook }}" title="Facebook">Facebook</a></li>
          </ul>
          <hr />
          <h3 class="row-centered">Support our fight for {{ page.candidatefirstname }}</h3>
          <p class="row-centered"><a class="supportthiscandidate" href="{{ page.candidatepledgepage }}">Donate Now</a></p>
        </div>
      </div>



      <div class="col-md-8">
        <div class="candidate-header">
          {{ candidateheader | markdownify }}
          <hr />
          {{ candidateraceinfo | markdownify }}
        </div>


        <div class="candidate-body">
          <div class="oppcontainer">
            <div class="oppopp">Opponent:</div>
            <div class="opp">
              <img src="{{ page.oppimage }}">
              <h4>{{ page.oppname }}</h4>
              <h5>{{ page.oppdesc }}</h5>

              {{ oppblurb | markdownify}}
            </div>
          </div>
          {{ content | markdownify }}
        </div>
      </div>

    </div>
  </div>
</div>


{% include footer.html %}