<style>

.herobackground{
  background-image:url(/images/chrome2.png);
  background-size:100% 100%;
  width:100%;
  overflow:hidden;
  border-top:2px solid #888888;
  border-bottom:2px solid #888888;
  padding:20px;
}

.reflectivehero{
  max-width:960px;
  margin:auto;
  text-align:center;
  padding-bottom:30px;
}


.reflectivehero img{
margin-right:5px;
margin-left:5px;
max-width:400px;

}

@media (max-width: 840px) {

  .reflectivehero img{
  margin-right:5px;
  margin-left:5px;
  max-width:350px;

  }

}


.reflectivehero img:hover{
opacity:0.8;
}

.splashheadline {
      text-align:center;
      font-size:60px;
      line-height:50px;
      padding-top:10px;
      padding-bottom:10px;
      margin-bottom:30px;
      color:white;
      font-weight:bold;
      font-family:'Merriweather', Georgia, Times New Roman, serif;
}



</style>
<div class="herobackground">
  <div class="splashheadline">OUR FIRST&nbsp;TWO PICKS OF&nbsp;2014</div>
    <div class="reflectivehero">
      <img style="float:left;" src="/images/reflective_dole.png">
      <img style="float:right;" src="/images/reflective_kennedy.png">
    </div>
</div>
