<style>

.herobackground{
  background-image:url(/images/chrome4.png);
  background-size:100% 100%;
  overflow:hidden;
  border-top:2px solid #888888;
  border-bottom:2px solid #888888;
}

.herocolumn-container{
    width:96%;
    margin-left:2%;
    margin-right:2%;
}

.herocolumn {
    width: 20%;
    float:left;
    font-family:Questrial, Helvetica, Arial, Sans Serif;
    font-size:22px;
    text-align:center;
    color:#FFF;
}

.herocolumn img{
    width:100%;
}
.herocolumn img:hover{
opacity:0.8;
}

.splashheadline {
      text-align:center;
      font-size:41px;
      line-height:50px;
      padding-top:10px;
      padding-bottom:10px;
      margin-bottom:30px;
      color:white;
      font-weight:bold;
      font-family:'Merriweather', Georgia, Times New Roman, serif;
}



</style>
<div class="herobackground">
  <div class="splashheadline">OUR PICKS FOR 2014</div>
    <div class="herocolumn-container">
    <div class="herocolumn"><a href="/appel"><img src="/images/appel.png"></A></div>
    <div class="herocolumn"><a href="/rubens"><img src="/images/rubens.png"></a></div>
    <div class="herocolumn"><img src="/images/tba.png"></div>
    <div class="herocolumn"><img src="/images/tba.png"></div>
    <div class="herocolumn"><img src="/images/tba.png"></div>
    </div>
</div>
