<style>

@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

.co2014hero{
  background-color:#9ca4a6;
  background-image:url('/images/rightstuff.jpg');
  background-position:center bottom;
  background-repeat:no-repeat;
  overflow:hidden;
  background-size: 100%;
}

.co2014hero h1 {
  font-family:"Questrial";
  color:black;
  text-align:center;
  font-size:60px;
  margin-left:10%;
  margin-right:10%;
}

.co2014hero h2 {
  font-family:"Merriweather";
  color:black;
  text-align:center;
  font-size:40px;
}


.leftcolumn {
    width: 38%;
    margin: 0 2% 0 0;  /*2% right +2% left = 4% margin*/
    float:left;
    font-family:Questrial, Helvetica, Arial, Sans Serif;
    font-size:22px;
    text-align:center;
    color:black;
}

.centercolumn {
    width: 16%;
    margin: 0 2% 0 2%;  /*2% right +2% left = 4% margin*/
    float:left;
    font-family:Questrial, Helvetica, Arial, Sans Serif;
    font-size:22px;
    text-align:center;
    color:black;
}

.rightcolumn {
    width: 38%;
    margin: 0 0 0 2%;  /*2% right +2% left = 4% margin*/
    float:left;
    font-family:Questrial, Helvetica, Arial, Sans Serif;
    font-size:22px;
    text-align:center;
    color:black;
}

.classrow {
  padding:2px;
  margin:2px;
  border:3px solid blue;
}


</style>

  <div class="co2014hero">
  <h1>Meet the MAYDAY&nbsp;PAC Class&nbsp;of&nbsp;2014</h1>
  <div class="classrow">
    <div class="leftcolumn"></div>
    <div class="rightcolumn"></div>
   </div>

   <div class="goodguy-box"></div>
   <div class="badguy-box"></div>


      <h2 style="margin:0 10% 20px 10%;">Click on the candidates to find out more about why we’ve chosen their races to make&nbsp;corruption <u>THE</u>&nbsp;issue&nbsp;of&nbsp;2014.</h2>
  </div>