<style>

.heroWrap{background:#E0F0FF;}
.herobackground{overflow:hidden;background:#fff;margin:0 auto}
.splashheadline{background:transparent url(/images/header-background.jpg) center 0 repeat;text-align:center;color:#313945;font:normal bold 41px/50px Merriweather, Georgia, Times New Roman, serif;position:absolute;width:100%;z-index:200;box-shadow:0 12px 12px rgba(0,0,0,0.4);border-top:1px solid #ddd;margin:0;padding:10px 0}
.herocolumn-container{width:100%;padding-top:60px;margin:0;display:block;}
.herocolumn{width:19.4%;float:left;font-size:22px;font-family:Questrial, Helvetica, Arial, Sans Serif;text-align:center;color:#FFF;margin:0 0.5% 0 0;padding:311px 0 15px;background-position:center 0;background-size:cover;}
  .herocolumn.stacked{padding:0}
  .herocolumn-container .herocolumn:first-child{margin-left:.5%}
  .herocolumn img{width:100%}
  .herocolumn,.herocolumn h2,.herocolumn h3,.herocolumn h4{text-align:left;color:#f4f1e8;text-decoration:none;text-shadow:2px 2px #313945}
  .herocolumn h2{font-size:1.2em;margin:0}
  .herocolumn h3{position:absolute;right:20px;top:10px;margin:0}
  .herocolumn h4{font-size:.8em;margin:0}

  .herocolumn .candidateLabel{position:relative;color:#f4f1e8;width:94%;padding:0 3%;height:60px;}
  .candidateLabel.republican{background:rgba(204,51,51,0.5)}
  .candidateLabel.democrat{background:rgba(49,57,69,0.5)}
  .stateIconWrap strong{z-index:20;position:relative;font-size:.6em;display:block;line-height:1em;top:13px;right:4px;text-align:center}
    .stateIconWrap span{font-family:StateFaceRegular;font-size:4em;position:absolute;z-index:1;right:-4px;}
    .stateIconWrap.stateIA span{top:-30px;right:-17px;font-size:3em;}
      .stateIconWrap.stateIA strong{top:13px}
    .stateIconWrap.stateNH {right:10px;}
    .stateIconWrap.stateNH span{font-size:3.5em;top:-40px;}
    .stateIconWrap.stateNH2 {right:10px;}
    .stateIconWrap.stateNH2 span{font-size:3.5em;top:-40px;}
      .stateIconWrap.stateNH2 strong{right:6px}
    .stateIconWrap.stateNC span{font-size:2.7em; top: -24px;right: -12px}
    .stateIconWrap.stateAZ span{font-size:2.4em;top:-20px;}
      .stateIconWrap.stateAZ strong{right:1px}
    .republican .stateIconWrap span{color:#c33;text-shadow:0 0 .3em #313945}
    .democrat .stateIconWrap span{color:#313945;text-shadow:0 0 .2em rgba(244,241,232,0.5)}
  .herocolumn .comingSoon{background:transparent 0 center;background-size:cover;height:124px;position:relative;margin-bottom:5px}
    .herocolumn .comingSoon.imageOne{background-image:url(/images/candidates/candidate_photos_fake_001.jpg)}
    .herocolumn .comingSoon.imageTwo{background-image:url(/images/candidates/candidate_photos_fake_002.jpg)}
    .herocolumn .comingSoon.imageThree{background-image:url(/images/candidates/candidate_photos_fake_003.jpg)}
  .herocolumn .comingSoon p{background-color:rgba(204,51,51,0.5);position:absolute;bottom:0;width:98%;margin:0;padding:4px 1%}

.heroCallToActionContainer{max-width:1200px;margin:0 auto;}
.heroCallToAction{-moz-box-shadow:inset 0 0 30px rgba(30,30,30,0.3);-webkit-box-shadow:inset 0 0 30px rgba(30,30,30,0.3);box-shadow:inset 0 0 30px rgba(30,30,30,0.3);border:5px solid #fff;overflow:hidden;background:#fff;border-width:5px;margin:0 auto;padding:10px}
  .heroCallToAction h4{font-size:1.3em;float:left;margin:.3em}
  .heroCallToAction form{float:right;margin:.3em}
    .heroCallToAction input{background:#fff;border:3px solid #313945;font-family:Merriweather, Georgia, Times New Roman, serif;padding:2px}
    .heroCallToAction input[type=email]{width:160px}
    .heroCallToAction input[name=zipcode]{width:60px}
    .heroCallToAction input[type=submit]{background:#313945;color:#f4f1e8;font-weight:700}
@media screen and (max-width: 800px) {
  .herocolumn.stacked{width:100%}
  .herocolumn.stacked .comingSoon{width:32.7%;float:left;margin:.5% 0 0 .5%}
  .herocolumn{width:49.25%}
}

@media screen and (max-width:1520px) {
  .herocolumn h2{font-size:1.0em;}
}

@media screen and (max-width:1300px) {
  .herocolumn h2{font-size:0.9em;}
  .herocolumn h4{font-size:.7em}
}
@media screen and (max-width:1170px) {
  .herocolumn h2{font-size:0.8em;}
  .splashheadline{font-size:2em;}
}

@media screen and (max-width:1020px) {
  .herocolumn{width:32.65%;}
  .herocolumn-container .herocolumn:nth-child(4){margin:0.5% 0 0 15%}
  .herocolumn-container .herocolumn:nth-child(5){margin: 0.5% 15% 0 0.5%;}
}

@media screen and (min-width:1020px;max-width:1280px) {
  .stateIconWrap.stateNC span {font-size:2.4em;top:-20px}
}
@media screen and (max-width:920px) {
  .splashheadline{font-size:1.5em;}
}

@font-face {
  font-family: 'StateFaceRegular';
  src: url('/font/stateface-regular-webfont.eot');
  src: url('/font/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/stateface-regular-webfont.woff') format('woff'),
       url('/font/stateface-regular-webfont.ttf') format('truetype'),
       url('/font/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

</style>

<div class="splashheadline"><a href="/2014/08/11/CandidateAnnouncement/" title="Read our Announcement">Three announced, three more to come.</a> </div>
<div class="heroWrap">

  <div class="herobackground">
    <div class="herocolumn-container">
      <a class="herocolumn firstRow" href="/shea-porter" style="background-image:url('/images/candidates/Carol_Shea-Porter_inset_small.jpg')">
        <div class="candidateLabel democrat">
          <h2>Carol Shea-Porter (D)</h2>
          <h3 class="stateIconWrap stateNH2"><span>d</span><strong>NH<br />01</strong></h3>
          <h4>vs <small>(undetermined)</small></h4>
        </div>
      </a>
      <a class="herocolumn firstRow" href="/jones" style="background-image:url('/images/candidates/walter_jones_inset_small.jpg')">
        <div class="candidateLabel republican">
          <h2>Walter Jones (R)</h2>
          <h3 class="stateIconWrap stateNC"><span>a</span><strong>NC-3</strong></h3>
          <h4>vs Marshall Adame (D)</h4>
        </div>
      </a>
      <a class="herocolumn firstRow" href="/gallego" style="background-image:url('/images/candidates/ruben_gallego_inset_small.jpg?1')">
        <div class="candidateLabel democrat">
          <h2>Ruben Gallego (D)</h2>
          <h3 class="stateIconWrap stateAZ"><span>D</span><strong>AZ-7</strong></h3>
          <h4><small>Democratic Primary</small></h4>
        </div>
      </a>
      <a class="herocolumn" href="/rubens" style="background-image:url('/images/candidates/rubens-inset_small.jpg')">
        <div class="candidateLabel republican">
          <h2>Jim Rubens (R)</h2>
          <h3 class="stateIconWrap stateNH"><span>d</span><strong>NH<br/>SEN</strong></h3>
          <h4>vs Scott Brown (R) <em> <span style="font-size:66%;">GOP Primary</span></em></h4>
        </div>
      </a>
      <a class="herocolumn" href="/appel" style="background-image:url('/images/candidates/appel-inset_small.jpg?1')">
        <div class="candidateLabel democrat">
          <h2>Staci Appel (D)</h2>
          <h3 class="stateIconWrap stateIA"><span>L</span><strong>IA-03</strong></h3>
          <h4>vs David Young (R)</h4>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-12 heroCallToAction">
  <div class="heroCallToActionContainer">
    <h4>Reduce the influence of Money in Politics. Vote with Us!</h4>
    <form action="https://pledge.mayday.us/r/subscribe" method="post" accept-charset="utf-8">
      <input type="hidden" name="redirect" value="https://mayday.us/thank-you-for-commiting/" />
      <input type="hidden" name="source" value="frontpage" />

      <input type="email" id="email_input" name="email" value="" required="" placeholder="Email Address">
      <input type="text" id="zipcode" name="zipcode" value="" placeholder="Zip">
      <input type="submit" id="submitButton" name="" value="I'm Committed!">
    </form>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.heroCallToAction form').submit(function(e){
      e.preventDefault();
      $.cookie('userZip',$(this).find('#zipcode').val())
      $.cookie('userEmail',$(this).find('#email_input').val())
      this.submit();
    });
  });
</script>
