<h2>Up to June 27, we've received more than 22,700 donations from across the nation.</h2>
<div class='map-container'>
  <div id='map'></div>
  <div id='circle-legend'>
    Circles represent the total number of donations received from each zipcode. Select a circle to get the details.
  </div>
</div>
<h2>Scroll down to see the amounts people like you have donated. Click to see where the donations come from.</h2>
<p style="display:none;">
  Rank by
  <a href='#' class='toggle' id='count'>Count of Donation</a>
  <a href='#' class='toggle' id='category'>Amount Donated</a>
</p>
<div class='graph'>
  <div class='histogram'></div>
</div>
<style>
  .map-container {
    position: relative;
    padding:5px;
    border:1px solid #ddd;
  }
  #circle-legend {
    position: absolute;
    right: 13px;
    bottom: 20px;
    width: 40%;
    font-size: 12px;
  }
  #map {
    position:relative;
    height:400px;
  }
  .leaflet-popup-content {
    font-size:12px;
  }
  .leaflet-popup-content b {
    color:#cc3333;
  }
  p {
    font-size:12px;
    margin:10px 0;
    font-weight:bold;
  }
  .toggle:first-child {
    margin-left:12px;
  }
  .toggle,
  .toggle:hover,
  .toggle:active {
    display:inline-block;
    padding:4px 10px;
    border:1px solid #ddd;
    text-decoration:none!important;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .toggle:hover,
  .toggle.active {
    background:#eee;
  }
  .histogram {
    font-size:14px;
    font-family:'Questrial',Arial,sans-serif;
  }
  .states {
    border-collapse:inherit;
    position:absolute;
    top:850px;
    left:580px;
    width:165px;
    border:1px solid #537288;
    font-size:12px;
    background-color: white;
  }
  .states thead tr td{
    padding:10px;
  }
  .states tbody {
    display:block;
    padding:10px;
    height:224px;
    overflow-y:scroll;
    border-top:1px solid #ddd;
  }
  .states tbody tr td {
    width:60px;
  }
  .states.fixed {
    position:fixed;
    top:10px;
    left:676px;
  }
  .category {
    cursor:pointer;
  }
  .category:hover,
  .category.hover {
    fill:#537288;
  }
  .bar {
    cursor:pointer;
    fill:#8FAEC3;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .bar:hover,
  .bar.hover {
    fill:#537288;
  }
</style>
<script>L_PREFER_CANVAS = true;</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" rel="stylesheet" />
<script src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js'></script>
<script>
// ----------------------
// set up basemap
// ----------------------
var map = L.map('map',{
  minZoom:4,
  maxZoom:10
}).setView([40,-98],4);

L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: 'Map tiles and data by OpenStreetMap, under CC BY SA.'
}).addTo(map);

function assignRadius(value){
  if (value >=0 && value <= 5){
    return 2
  } else if (value > 5 && value <=10) {
    return 5
  } else if (value > 10 && value <= 50) {
    return 8
  } else if (value > 50 && value <= 100) {
    return 11
  } else if (value > 100 && value <= 200){
    return value / 10
  } else if (value > 200 && value <= 500) {
    return value / 8
  } else if (value > 500 && value <= 1000 ){
    return value / 7
  } else if (value > 1000) {
    return 150
  }
}

d3.csv('{{site.baseurl}}/data/pledges_for_map.csv',function(error,data){

  // filter out invalid zipcode
  var valid = data.filter(function(d){
    return d.zip.length=== 5 && d.longitude.length != 0;
  })

  var features = valid.map(function(d){
    return {
      'type':'Feature',
      'geometry':{
        'type':'Point',
        'coordinates':[parseFloat(d.longitude),parseFloat(d.latitude)]
      },
      'properties':{
        'zip':d.zip,
        'count':parseInt(d.count),
        'dollars':parseInt(d.dollars)
      }
    }
  });

  var circleStyle = {
    color:'#000000',
    fillColor:'#cc3333',
    weight:0.25,
    opacity:0.8,
    fillOpacity:0.5
  };

  var featureLayer = L.geoJson(features,{
    pointToLayer:function(feature,latlng){
      var circle = new L.circleMarker(latlng, circleStyle);
      circle.setRadius(assignRadius(feature.properties.count));
      return circle
    },
    onEachFeature:function(feature,layer){
      var popupContent = 'Zipcode ' + feature.properties.zip + ': </br>' +
      '<b>' + feature.properties.count + '</b> Donations Totals <b>$' + feature.properties.dollars + '</b> Dollars';

      layer.bindPopup(popupContent);
    }
  });

  map.addLayer(featureLayer);

});

// ----------------------
// set up graph
// ----------------------
function getKey(collection){
  return _.chain(collection)
    .pairs()
    .sortBy(function(a){return parseInt(a[0]);})
    .map(function(a){return a[0];})
    .value();
}

function getValue(collection){
  return _.chain(collection)
    .pairs()
    .sortBy(function(a){return parseInt(a[0]);})
    .map(function(a){return a[1];})
    .value()
}

d3.csv('{{site.baseurl}}/data/pledges.csv',function(error,data){

  data.forEach(function(d) {
    d.dollars = parseInt(d.dollars, 10);
  });

  // ----------------------
  // format data for graph
  // ----------------------

  // Create a kinda-log histogram bins to capture the spread of different donation sizes
  var binThresholds = [1, 10, 20, 40, 80, 150, 300, 500, 1000, 2000, 3000, 5000, 50000],
      histogram = (d3.layout.histogram()
                   // each donation is bucketed by the value of the donation
                   .value(function(d) {return d.dollars; })
                   .bins(binThresholds))(data);

  // Calculate the total value of each bucket by summing the donations inside the bucket
  histogram.forEach(function(bucket, i) {
    bucket.sum = d3.sum(bucket, function(d) {return d.dollars;});
    bucket.label = numeral(bucket.x).format('$0,0');
    bucket.rangeLabel = numeral(bucket.x).format('$0,0') + '-' +
                        numeral(bucket.x + bucket.dx - (i === histogram.length-1 ? 0 : 1)).format('$0,0')
    bucket.sumLabel = numeral(bucket.sum).format('$0,0');

    if (i === histogram.length - 1) {
      bucket.label += '+';
    }
  });

  // dollarsFormatted = _.filter(dollarsFormatted,function(d){return d.category != 'NaN';});

  //add states associated with each count
  histogram.forEach(function(bucket){
    var statesIdx = {};
    bucket.forEach(function(donation) {
      if (!statesIdx[donation.state]) {
        statesIdx[donation.state] = {count: 0, sum: 0};
      }

      statesIdx[donation.state].count++;
      statesIdx[donation.state].sum += donation.dollars;
    });

    bucket.states = _.chain(_.keys(statesIdx))
                    .map(function(state) {
                      return {
                        state: state,
                        stateCount: statesIdx[state].count,
                        stateSum: numeral(statesIdx[state].sum).format('$0,0')
                      };
                    })
                    .sortBy(function(stateSummary) {
                      return -stateSummary.stateCount;
                    })
                    .value();
  });

  // ----------------------
  // set up graph
  // ----------------------
  var margin = {right:70, left:60},
    width = 500 - margin.left - margin.right,
    barHeight = 22,
    height = barHeight * histogram.length;

  var svg = d3.select('.histogram').append('svg')
    .attr('width',width + margin.left + margin.right)
    .attr('height', height )
  .append('g')
    .attr('transform','translate(' + margin.left + ',0)');

  // cal width
  var x = d3.scale.linear()
      .range([0, width])
      .domain([0, d3.max(histogram, function(bin){return bin.sum;})]);

  // How many bars?
  var y = d3.scale.ordinal()
    .rangeRoundBands([0, height], .1)
    .domain(histogram.map(function(bin, i) {return i;}));

  // bind data
  var bar = svg.selectAll('.bar')
    .data(histogram)
  .enter().append('g')
    .attr('class','barGroup')
    .attr('transform', function(d, i) { return 'translate(0,' + y(i) + ')'; });

  // generate bars
  bar.append('rect')
    .attr('class','bar')
    .attr('width',function(d){return x(d.sum)+2;}) // plus 2 to give small counts a visible width
    .attr('height',y.rangeBand())
    .on('click',function(d){
      clearSelection();

      d3.select(this).classed({'hover':true,'clicked':true});
      d3.select(this.parentNode.childNodes[1]).classed({'hover':true}); // text left

      addTable(d);
    });

  bar.append('text')
    .attr('class','category')
    .attr('x', '-60')
    .attr('y', y.rangeBand()-8)
    .attr('dy', '.35em')
    .text(function(bucket) {
        return bucket.label;
    })
    .on('click',function(d){
      clearSelection();

      d3.select(this).classed({'hover':true});
      d3.select(this.parentNode.childNodes[0]).classed({'hover':true}); // rect

      addTable(d);
    });

  bar.append('text')
    .attr('class','categoryCount')
    .attr('x',function(d) { return x(d.sum) + 10; })
    .attr('y',y.rangeBand()-8)
    .attr('dy','.35em')
    .text(function(d){return d.sumLabel;});

  d3.selectAll(".toggle").on("click", change);

  // ----------------------
  // events
  // ----------------------

  function clearSelection(){
    d3.select('.states').remove();
    d3.selectAll('rect').classed({'hover':false});
    d3.selectAll('text').classed({'hover':false});
  };

  function addTable(object){

    var table = d3.select('.histogram').append('table');
    var thead = '<thead><tr><td>'+ numeral(object.length).format('0,0') + ' Donations of ' + object.rangeLabel + '</tr></td></thead>',
        html = '';

    if ($(window).scrollTop() >= $('svg').offset().top && listHeight < $(window).height() - 100) {
      table.attr('class','states fixed')
    } else {
      table.attr('class','states')
    };

    object.states.forEach(function(o){
      name = (o.state.length > 0) ? o.state : 'N/A';
      html += '<tr><td>' + name  + '</td><td>' +
              o.stateCount + '</td></tr>';
    });

    table.html(thead + '<tbody>' + html +'</tbody>');
  }

  function change(){

    var transition = svg.transition().duration(750);

    if (this.id === 'category') {
      y.domain(index);
    } else {
      y.domain(indexSorted);
    }

    transition.selectAll('.barGroup')
      .attr('transform', function(d, i) { return 'translate(0,' + y(i) + ')'; });
  }

});

// ----------------------
// page interaction
// ----------------------
$('#count').addClass('active');

$('.toggle').on('click',function(e){
  e.preventDefault();
  $('.toggle').removeClass('active');
  $(this).toggleClass('active');
});


</script>
