<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Mayday PAC</title>
  <meta name="description" content="MAYDAY.US - Democracy needs an upgrade. Act now.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="https://mayday.us"/>
  <meta property="og:image" content="https://mayday.us/images/ProfilePic.jpg"/>
  <meta property="og:title" content="MAYDAY.US: Democracy needs an upgrade. Act now."/>
  <meta property="og:description" content="Money has corrupted politics. Join MAYDAY.US - the movement to end this corruption."/>
  
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->

  <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

  <link rel="stylesheet" href="/css/index.css">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,500,900' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Merriweather:700,400,700italic' rel='stylesheet' type='text/css'>
  
</head>

<body>
  <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <header class="navbar navbar-fixed-top">

    <div class="container" style="position:relative">
      <a class="navbar-brand ir" href="#">MAYDAY.US</a>
      <div class="row navbar-social"  style="">
        <div class="navbar-header pull-right  hidden-xs hidden-sm">
          <div class="">
            <ul class="nav navbar-nav">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://mayday.us/" class="ir social facebook-share">Facebook</a></li>
              <li><a href="https://twitter.com/home?status=We%27re%20taking%20on%20corruption%20with%20YOUR%20help.%20https://mayday.US%20%23MaydayPAC" class="ir social twitter-share">Twitter</a></li>
              <li><a href="mailto:?subject=Help Reduce the influence of money in politics. &amp;body=The Mayday Political Action Committee has kick-started the money for the first essential step towards a Congress committed to fundamental reform by 2016. But we still need your help to spread the word. Will you join me by going to https://mayday.us?" class="ir social email-share">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row navbar-primary" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-hover="dropdown">Our Plan <small>v</small></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/the-plan">Our Plan</a></li>
                <li><a href="/factsheet">Candidates</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-hover="dropdown">Get Involved <small>v</small></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="https://my.mayday.us/login">My Super Pac</a></li>
                <li><a href="/embed">Embeddable Media</a></li>
                <li><a href="/subscribe">Stay Connected</a></li>
                <li><a href="/ways">Spread the Word</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-hover="dropdown">About <small>v</small></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/about">About Mayday PAC</a></li>
                <li><a href="/your-donations">Donor Data</a></li>
                <!--<li><a href="/about">Bios</a></li>-->
                <li><a href="/videos">Videos &amp; Media</a></li>
                <li><a href="/faq">FAQ</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-hover="dropdown">News <small>v</small></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/blog">Mayday PAC News</a></li>
                <li><a href="/media">In the News</a></li>
                <!--<li><a href="#">Press Kit</a></li>-->
              </ul>
            </li>
            <li><a href="/newpledge">Donate</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-bg-1"></div>
    <div class="header-bg-2"></div>
  </header>

  <section class="jumbotron">
    <div class="container">
      <h2>Congress is&nbsp;crippled<BR>by&nbsp;corruption</h2>
      <h4>Let's&nbsp;save&nbsp;America&nbsp;from<BR>the&nbsp;cronies flooding&nbsp;cash into&nbsp;campaigns.</h4>
        <form class="" role="form">
          <div class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control">
          </div>
          <button type="submit" class="btn">Be part of the rescue!</button>
        </form>
    </div>
  </section>

  <section class="jumbotron-bottom">
    <hr/>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Let's win our democracy back!</p>
        </div>
        <div class="col-md-6">
          <h2>over <span class="text-red">50,900</span> have joined the movement</h2>
        </div>
      </div>
    </div>
    <hr/>
  </section>

  <section class="cross-stitched latest-news">
    <div class="container">
      <div class="row">
        <div class="col-md-12 news-intro">
          <div class="col-md-4"><hr/></div>
          <div class="col-md-4"><h3><a href="" title="Latest Mayday PAC News">MAYDAY.US News</a></h3></div>
          <div class="col-md-4"><hr/></div>
        </div>
				{% for post in site.posts %}
          {% unless post.draft %}	  
            {% if post.frontpage %}
              <article class="col-md-4">
                <div>
                  <h5 class="blog-image ir" style="background-image:url('{{ post.imageURL }}');">Heading</h5>
                  <div class="article-details">
                    <h5>{{ post.pubdate }}</h5>
                    <h4>{% if post.frontpageTitle %}{{ post.frontpageTitle }}{% else %}{{ post.title }}{% endif %}</h4>
                    <p> {{ post.blurb }}<a href="{{ post.url }}" title="Read More.">Read More.</a></p>
                    <p><a class="btn btn-cta" href="{% if post.pageURL %}{{ post.pageURL }} {% else %}{{ post.url }}{% endif %}" role="button">View details &raquo;</a></p>
                  </div>
                </div>
              </article>
             {% endif %}
           {% endunless %}	             
			  {% endfor %}
      <hr />
    </div> <!-- /container -->
  </section>

  <footer>
    <div class="donate-wrap">
      <hr/>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="/newpledge/" title="" class="ir">Donate to Mayday PAC</a>
          </div>
        </div>
      </div>
      <hr/>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>MAYDAY.US</h4>
          <p>Paid for by Mayday PAC. <br/> Not authorized by any candidate or any campaign committie.</p>
          <p>&copy; 2014 Mayday PAC, Some rights reserved.</p>
        </div>
        <div class="col-md-6">
          <!-- <a href="#" class="ir social-link youtube" title="Youtube Page">Youtube Page</a> -->
          <a href="https://twitter.com/MAYDAYUS" class="ir social-link twitter" title="Twitter Page">Twitter Page</a>
          <a href="https://www.facebook.com/groups/282646648577039/" class="ir social-link facebook" title="Facebook Page">Facebook Page</a>
        </div>
      </div>
    </div>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

  <script src="/js/vendor/bootstrap.min.js"></script>

  <script src="/js/plugins.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
</body>
</html>
